body {
    background-color: #151516;
}

canvas {
    display: flex;
    justify-content: center;
}

.mobile-UI {
    display: flex;
}

.dpad {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  /* gap: 5px; */
  place-items: center;

  button {
    width:100px;
    height:100px;
    font-size:4rem;
  }
}

.up {
    grid-row: 1;
    grid-column: 2;
}

.left {
    grid-row: 2;
    grid-column: 1;
}

.right {
    grid-row: 2;
    grid-column: 3;
}

.down {
    grid-row: 3;
    grid-column: 2;
}

