body {
    background-color: #151516;
    overflow: hidden;            /* no scrolling */
    /* avoid gestures while playing*/
    touch-action: none;
    /* not sure if we really need this but makes sense */
    -webkit-user-select: none;
    user-select: none;
}

.dpad, .dpad button {
  touch-action: manipulation; /* allows taps, prevents double-tap zoom */
}

/* ts fill screen */
#app {
  position: fixed;
  inset: 0;
}

#game{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index:0;
}

canvas {
    display: flex;
    justify-content: center;
}

.mobile-UI {
    z-index: 10;
    /* display: flex; */
    position: absolute;
    left: max(12px, env(safe-area-inset-left));
    bottom: max(12px, env(safe-area-inset-bottom));

    /* let canvas get events except buttons??? */
    /* pointer-events: none; */
}

.dpad {
  --pad: clamp(142px, 18vmin, 140px);   /* whole dpad size */
  --btn: calc(var(--pad) / 3);

  /* pointer-events: auto; */
  display: grid;
  grid-template-columns: repeat(3, var(--btn));
  grid-template-rows: repeat(3, var(--btn));
  place-items: center;
  /* gap: 6px; */
  opacity: 0.85;


  button {
    width: var(--btn);
      height: var(--btn);
      font-size: calc(var(--btn) * 0.55);
      /* translucent */
      background: rgba(191, 149, 249, 0.75);
      color: #000;
      /* idk if i want a border tbh */
      border: 2px solid rgba(255, 122, 198,0.75);
      border-radius: 14px;
      backdrop-filter: blur(6px);            /* nice on iOS */
      -webkit-backdrop-filter: blur(6px);
        /* width:100px; */
        /* height:100px; */
        /* font-size:4rem; */
        /* background-color: #BF95F9; */
        /* color: 000; */
        /* border: none; */
        /* border-radius: 5px; */
        /* my goated color but looks ugly color: #FF7AC6; */
  }

  button:active {
    transform: scale(0.98);
  }
}

.up {
    grid-row: 1;
    grid-column: 2;
}

.left {
    grid-row: 2;
    grid-column: 1;
}

.right {
    grid-row: 2;
    grid-column: 3;
}

.down {
    grid-row: 3;
    grid-column: 2;
}

